body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  background-image: url("/images/photo-1.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 5% 5%;
  border-radius: 5px;
  padding: 30px 50px;
  background-color: #666;
}

.details-container{
    margin: 5% 5%;
    border-radius: 5px;
    padding: 30px 50px;
    background-color:rgba(0, 0,0, 0.4);
}

label {
  padding: 12px;
  margin: 5px 0;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

.white{
color: #fff;
}

.black {
    color: #000;
}

.input-box,
.input-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
}

input:hover,
.btn:hover {
  opacity: 1;
}

.input-btn {
  background-color: #04aa6d;
  color: white;
  cursor: pointer;
}

.input-btn:hover {
  background-color: #45a049;
}

.col {
  margin: auto;
  padding: 0 5px;
  margin-top: 6px;
  float: left;
}

.col-10 {
  width: 10%;
}

.col-20 {
  width: 20%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.col-90 {
  width: 90%;
}

.col-100 {
  width: 100%;
}

.error-msg{
    color: #ca3f3f;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header-container {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
}

p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
    padding: 0;
  }

  .container {
    margin: 0 10%;
  }
}
